@charset "UTF-8";

body{

}

h1 {
    font-size:1.5em;
    line-height:1.2em;
    text-align: center;
}

h1 .subtitle{
    font-size:0.7em;
    font-weight:normal;
}

p {
    font-size: 20px;
}

a {
    margin-left: 50px;
}

h4 {
    margin-left: 125px;
    float:left
}
footer {
    background: #432;
    text-align: center;
    padding: 26px 0;
}
footer p {
    color: #fff;
    font-size: 0.875rem;
}